<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MURA Fracture Detection</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/static/css/style.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="frame">
  <div class="center">
      <form action="/" method="post" enctype="multipart/form-data">
		<div class="bar"></div>
		<div class="title">Radyografik Görüntüyü Yükleyin</div>
		<div class="dropzone">
			<div class="content">
				<img src="https://100dayscss.com/codepen/upload.svg" class="upload">
				<span class="filename"></span>
				<input type="file" class="input" name="file" autocomplete="off" required>
			</div>
		</div>

          <div class="dropdown">
{#            {{  form.csrf_token }}#}
{#              {{  form.part }}#}
              {{  form.hidden_tag() }}
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Body Part
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {% for subfield in form.part %}
                    <li><a href="#">{{ subfield.label }}</a></li>
{#                    <li><a href="#">{{ subfield.label }}</a></li>#}
                {% endfor %}
{#              {{ form.part.label==selected_part }}#}
              </ul>
          </div>

		<img src="https://100dayscss.com/codepen/syncing.svg" class="syncing">
		<img src="https://100dayscss.com/codepen/checkmark.svg" class="done">
        <input class="upload-btn" type="submit" name="submit">
      </form>
  </div>
</div>
<!-- partial -->
  <script src='https://100dayscss.com/codepen/js/jquery.min.js'></script>
  <script  src="/static/js/script.js"></script>
<script>
function myFunction() {
  let box_value = document.getElementById("parts").value;
  if (box_value === "Random Forest") {
    document.getElementById("parts").style.display = "rF"
  }
}
</script>
</body>
</html>
